# Tuist generated
/.build
/Tuist/Dependencies
/Tuist/Cache
/Tuist/Generated

# Don't track generated Xcode projects or workspaces
*.xcodeproj
*.xcworkspace

# Derived data
DerivedData/

# Xcode user data
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
xcuserdata/
*.xccheckout

# SwiftPM
Package.resolved

# Logs
*.log

# macOS
.DS_Store
.apdisk
*.icloud

# Firebase / Google files (local secrets)
GoogleService-Info.plist